<?xml version="1.0" encoding="UTF-8" ?>

<!--MyBatis的映射文件-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--和mapper接口的全类名保持一致-->
<mapper namespace="com.atguigu.mybatis.mapper.UserMapper">

    <!--int insertUser();-->
    <!--和mapper接口中方法的方法名保持一致-->
    <insert id="insertUser">
        insert into t_user
        values (null, 'admin', '123456', 23, '男', '12345@qq.com')
    </insert>


    <!--void updateUser();-->
    <update id="updateUser">
        update t_user set username='root',password='111111'
        where id=3
    </update>


    <!--void deleteUser();-->
    <delete id="deleteUser">
        delete from t_user where id=3
    </delete>


    <!--User getUserById();-->
    <select id="getUserById" resultType="com.atguigu.mybatis.pojo.User">
        select * from t_user where id=2
    </select>


    <!--List<User> getAllUser();-->
    <select id="getAllUser" resultType="user">
        select * from t_user
    </select>

</mapper>
