<?xml version="1.0" encoding="UTF-8" ?>

<!--MyBatis的映射文件-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--和mapper接口的全类名保持一致-->
<mapper namespace="com.atguigu.mybatis.mapper.SpecialSQLMapper">

    <!--List<User> getUserByLike(@Param("mohu") String mohu);-->
    <select id="getUserByLike" resultType="User">
        <!--select * from t_user where username like '%${mohu}%'-->
        <!--select * from t_user where username like concat('%',#{mohu},'%')-->
        select * from t_user where username like "%"#{mohu}"%"
    </select>


    <!--void deleteMore(@Param("ids") String ids);-->
    <delete id="deleteMore">
        delete from t_user where id in (${ids})
    </delete>

    <!--List<User> getUserByTable(@Param("tableName") String tableName);-->
    <select id="getUserByTable" resultType="User">
        select * from ${tableName};
    </select>

    <!--void insertUser(User user);-->
    <update id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_user values(null,#{username},#{password},#{age},#{gender},#{email})
    </update>
</mapper>
